<div ng-controller="incomeTable">
<button ng-click="refresh()">Refresh</button>
<table class="table  table-striped table-bordered  table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Firma</th>
                <th>Kategoria</th>
                <th>Przychody</th>
            </tr>
        </thead>
        <tbody>
            <tr
            dragabble-record="company"
            draggable="true"
            ng-class="{ 'table-primary': company.id == companies.active.id }" 
            ng-repeat="company in companies.records track by company.id">
                <td>{{$index + 1}}.</td>
                <td>{{company.company}}</td>
                <td>{{company.category}}</td>
                <td>{{company.income | currency}}</td>
                <td ng-click="select(company)">✎</td>
                <td ng-click="remove(company)">✗ </td>
            </tr>
        </tbody>
    </table>


</div>