<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-app="myapp">

    <div class="container" ng-controller="main">
        <div class="row">
            <div class="col">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <button ng-click="hide1=!hide1">Togg,</button>
                <div ng-if="!hide1" ng-include=" 'form/form.tpl.html' "></div>
            </div>
            <div class="col">
                <div ng-controller="incomeTable">

                    <records-plot                       records="companies.records" 
                        label-column="company"
                        value-column="income"
                    ></records-plot>
                </div>

                <button ng-click="hide = !hide">Toggle</button>
                <div ng-if="!hide" ng-include=" 'form/table.tpl.html' "></div>


            </div>
        </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="form/form.module.js"></script>
    <script src="form/chart.controller.js"></script>
    <script src="form/table.ctrl.js"></script>
    <script src="main.js"></script>
</body>

</html>