
/* === MENU === */

.menu ul{
    list-style: none;
    padding: 0;
}
.menu ul li ul {
    max-height: 0px;
    overflow: hidden;
    transition: 1s max-height ease-in;
    position: absolute;
    left:0;
    top:100%;
}
.menu ul li ul li ul {
    top:0;
    left:100%;
}
.menu ul li:hover > ul{
    max-height: 500px;
    overflow: visible;
}

.menu-top > ul > li {
    display: inline-block;
}
.menu-top ul li {
    padding: 10px;
    min-width: 100px;
    border: 1px solid gray;
    text-align: center;
    text-decoration: none;
    background-color: white;
    position: relative;
}
.menu-top ul li:hover{
    background: yellowgreen;
}
.menu-top ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

/* === END MENU === */