
/* === LINKI === */

/* a[href^="#"]{
    color: red;
} */



a[href^="http://"]::after{
    content: " ✔  " attr(href);
    display: inline-block;
    color: green;
}

a[href^="https://"]{
    color: blue;
}

/* TODO: All paragraphs visibility */
article p {
    display: block !important;
}

/* TODO: One column in print */
/* .sidebar{
    display: none  !important;
} */

.no-print{
    display: none  !important
}

h1{
    transform:none;
}