/* == MOBILE FIRST == */

/* @import url('menu.css') screen and (min-width: 768px); */

.menu-toggle{
    display: none;
}

@media (pointer:coarse){
    .menu-top{
        display: none;
    }
    .menu-toggle{
        display: initial;
        float: right;
        height: 3em;
        margin-top: -5em;
    }
    .menu-toggle:focus + .menu{
        display: block;
    }
    .menu ul li a:not(:last-child){
        pointer-events: none;
    }
}

.sidebar{
    display: none;
}

p > img{
    float:left;
    padding-right: 1em;
}


@media screen and (min-width:375px) {

}


@media screen and (min-width:768px) {
    .sidebar{
        display: block;
    }
    .columns{
        display: flex;
    }
    
    .menu-toggle{
        display: none;
    }

    .menu-top{
        display: block;
    }

        
    /* === MENU === */

    .menu ul{
        list-style: none;
        padding: 0;
    }
    .menu ul li ul {
        max-height: 0px;
        overflow: hidden;
        transition: 1s max-height ease-in;
        position: absolute;
        left:0;
        top:100%;
    }
    .menu ul li ul li ul {
        top:0;
        left:100%;
    }
    .menu ul li:hover > ul{
        max-height: 500px;
        overflow: visible;
    }

    .menu-top > ul > li {
        display: inline-block;
    }
    .menu-top ul li {
        padding: 10px;
        min-width: 100px;
        border: 1px solid gray;
        text-align: center;
        text-decoration: none;
        background-color: white;
        position: relative;
    }
    .menu-top ul li:hover{
        background: yellowgreen;
    }
    .menu-top ul li a {
        text-decoration: none;
        text-transform: uppercase;
    }

    /* === END MENU === */
    
}


@media screen and (min-width:1024px) {
    main{
        width:80%;
        max-width: 1140px;
        margin: 0 auto;
    }
}


.animate-it{
    animation: latajacy 2s;
    animation-iteration-count: infinite;
}

/* animate.css - https://daneden.github.io/animate.css/ */
@keyframes latajacy {
0% {
    transform: translateX(0px);
}
50%{
    transform: translateX(100px);
}
100% {
    transform: translateY(100px);
}
}