html{
    font-family: sans-serif;
    font-size: 14px;
}

h1{    
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-size: 3em;
    text-shadow: 2px 3px 3px lightblue;
    transform: rotate(4.6deg);
    transform-origin: 0% 50%;
}

/* === LAYOUT === */

.columns{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex:1;
}

article{
    min-width: 250px;
    text-align: justify;
    line-height: 1.2em;
}

section{
    max-width: 250px;
}
/* === END LAYOUT === */

/* === MENU === */

.menu ul{
    list-style: none;
    padding: 0;
}
.menu ul li ul {
    max-height: 0px;
    overflow: hidden;
    transition: 1s max-height ease-in;
    position: absolute;
    left:0;
    top:100%;
}
.menu ul li ul li ul {
    top:0;
    left:100%;
}
.menu ul li:hover > ul{
    max-height: 500px;
    overflow: visible;
}

.menu-top > ul > li {
    display: inline-block;
}
.menu-top ul li {
    padding: 10px;
    min-width: 100px;
    border: 1px solid gray;
    text-align: center;
    text-decoration: none;
    background-color: white;
    position: relative;
}
.menu-top ul li:hover{
    background: yellowgreen;
}
.menu-top ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

/* === END MENU === */

article p{
    clear:both;
}

h2{
    font-size:2em;
}

main{
    width: 80%;
    margin: 0 auto;
}

footer{
    clear:both; 
}


/*
i, em, b, span {
    outline: 2px solid yellow;
}
p, div, article, aside, section,header, nav{
    outline: 2px solid blue;
}
*/


p::first-line {
    background: yellow;
}

::selection {
    background: hotpink;
}

article p:first-of-type {
    background: lightgoldenrodyellow;
}

p::first-letter {
    font-size: 5em;
    line-height: 1em;
    font-family: Georgia;
    padding-right: .05em;
}

article p{
    display:none;
}
article p:target{
    display:block;
}


img.tadeusz-left{
    float:left;
    margin: 0 1em 1em 0;
    /* transition: 1s transform cubic-bezier(1, 0.01, 0, 1.03); */
}
img.tadeusz-left:hover{
    /* transform: scale(1.1) rotate(-730deg); */
    animation: latajacy 2s;
    animation-iteration-count: infinite;
}


@keyframes latajacy {
    0% {
        transform: translateX(0px);
    }
    50%{
        transform: translateX(100px);
    }
    100% {
        transform: translateY(100px);
    }
}